<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Страница не найдена!</h1>
     
 <style>
.tn-atom {
	text-decoration: none;
    color: #000000;
	display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 8px;
    background-color: #bcec30;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
</style>

<a href="https://sky.pro/"> <img class="tn-atom__img t-img loaded" data-original="https://static.tildacdn.com/tild3635-3362-4237-b931-356461303961/Group_18999.svg" imgfield="tn_img_1625819289399" src="https://static.tildacdn.com/tild3635-3362-4237-b931-356461303961/Group_18999.svg"> </a> 
<a class="tn-atom" href="http://127.0.0.1:8000/">На главную</a>

</body>
</html>